// #address {
//   resize: none;
//   height: 50px;
// }


.booknow {
  padding: 10rem 0;


  &__head {
    font-size: 4rem;
    text-align: center;
    color: #3f0d12;
  }

  &__container {
    width: 70%;
    margin: 5rem auto;
    // display: grid;
    // grid-template-columns: 1fr 2fr;
    row-gap: 2rem;
    border: 3px solid black;
    padding: 3rem;
    border-radius: 5px;
    position: relative;
    text-align: center;
  }

  &__input {
    padding: 5px;
  }

  &__button {
    margin-left: 5rem;
    border-radius: 10rem;
    transition: all 0.2s;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    padding: 2.5rem 5rem;
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
