.Footer{
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    padding: 5% 5%;
    display: flex;
    // position: relative;
    justify-content: space-between;

    &__links{
        margin-left: 10%;
        color: white;
        &:hover{
            color: white;
        }
    }
    &__address{
        margin-left: 50%;
        margin-bottom: 3%;
        float: right;
    
        color: white;
        &:hover{
            color: white;
        }
        &--phone{
            display: none;
        }
    }
    

    &__logo1,&__logo2,&__phone{
        
        color: white;
        // margin-right:1%;
        margin-left: 50%;
        &:hover{
            color: white;
        }
    }
}



@media (max-width:600px){
    .Footer__address{
        display: none;
    }
    .Footer__address--phone{
        color: white;
        display: inline-block;
        padding-left: 35%;
    }
    .Footer__phone{
        margin-left: 10%;
    }
    
}
ol{
    color: white;
    list-style: none;
}
li{
    color: white;
}