hr{
  border: 1px solid #1a0d00;
}
.header {
  height: 100vh;
  width: 100%;
  background-color: white;
  // background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  background-size: cover;
  background-position: left;
  position: relative;

  &__image{
    background-image: url('../images/priya1.png');
    width: 100%;
    height:100%;
    background-size: cover;
    @media (max-width: 600px) {
      background: url('../images/background_phone.png') ;
      background-size: cover;
    }
  }
  &__main {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
    // text-align: center;
    margin-top: 6rem;

    &--title {
      background-color: #3f0d12;
      background: -webkit-linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      // text-fill-color: transparent
      font-weight: bold;
      letter-spacing: 6px;
      font-size: 5rem;
    }
    &--subtitle {
      position: absolute;
      left: 60%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 20px;
      letter-spacing: 5.5px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);

      text-transform: uppercase;
      margin-top: 2rem;
      margin-bottom: 10rem;
      color: white;
      height: 30%;
    }
  }
}

@media (max-width: 600px) {
  .header__main{
    top:60%
  }
  .header__main--subtitle{   
    width: 70%;
    left: 70%;
    height: 50%;
  }
}