.OurWork{
    // padding-left: 200px;
    // padding-right: 200px;
    justify-content: space-between;
    
    overflow: hidden;
    &__image{
        
        height: 500px;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 20%;
        margin-bottom: 10%;
        cursor: pointer;
    // height: 600px;
    // width: 80%;
    border: 1px solid black;
    
    // max-width: 300px;
    // max-height: 300px;    
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    overflow: hidden;
    &:hover{
        overflow: hidden;
        -webkit-transform: scale(1.1);
	transform: scale(1.1);
    
    }
    }   
    &__title{
        padding-left: 40%;
        font-size: 30px;
    } 
    
}
@media (max-width:600px){
    .OurWork__image{
        margin-left: 0%;
    }
    .OurWork__image{
        
        align-items: center;
    }
}
