h1{
    padding-left: 13%;
    font-size: 4rem;
    
}

Table{
    text-align:center ;
}
.Children{
    padding-left:2rem ;
}
.terms{
    top: 161%;
    position: absolute;
    left: 70%;
    padding-left: 2rem ;
}

@media (max-width : 600px){
    .terms{
        top: 202%;
        left: 40%;
        width: 100%;
    }
}