.products_header{
    font-size: 5rem;
    margin-top:0%;
    padding-left: 40%;
}

.container{
    // background-color: black;
    padding: 0 20%;
}


.view__button{
    margin-top: 1%;
    margin-left: 40%;
    border-radius: 10rem;
    transition: all 0.2s;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    padding: 2.5rem 5rem;
    cursor: pointer;
    background-color: black;
    color: white;
    
}

.view__images{
    margin-left: 5%;
    margin-right:5% ;
}

.image_view{
    // border:1px solid black;
    margin-right: 1%;
    
}

@media (max-width:600px){
    .products_header{
        padding-left: 10%;
    }
    .view__button{
        margin-left: 15%;
    }
    .image_view{
        height: 300px;
    }
}